__pycache__
.DS_Store
.ignore
Al25*
B11*
B12*
Be10*
Be7*
Be8*
C13*
F20*
K41*
Li7*
Li8*
Mg26*
N14*
Na24*
Nucl
O17*
OLD/
Si28*
Si29*
Si30*
New
Demos
Current/
Versionm/
Versions/
Versions1/
csh.gpu1
csh.gpu2
dirs.do
get.do
new.do
pycache/
reconstructxs_TF.py
snapnorm.py
starting.xml
tf-bash-3.sh
tf.py

