__pycache__
.DS_Store
.ignore
Al25rs/
B11n-endf8/
B11r/
B11rs/
B12rs/
Be10rs/
Be7r/
Be7rk/
Be7rs/
Be8r/
Be8rs/
C13rs/
Current/
F20rs/
K41rs/
Li7r/
Li7rs/
Li8rs/
Mg26rs/
N14n-endf8/
N15-papers/
N15r/
N15ra/
N15re/
N15rs/
Na24rs/
New/pops-global.xml
Nucl/
O17rs/
OLD/
Si28rs/
Si29rs/
Si30rs/
Versionm/
Versions/
Versions1/
csh.gpu1
csh.gpu2
dirs.do
get.do
new.do
pycache/
reconstructxs_TF.py
snapnorm.py
starting.xml
tf-bash-3.sh
tf.py

